@using ProjectCV.DAL.DTOs.ExperienceUpdateDTO
@model List<ExperienceUpdateDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CV Maker Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Experience Update</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div>
            <a href="~/Certificate/Create" class="btn btn-success btn-sm"> <i class="fas fa-plus-circle"></i> Create New Certificate </a>
        </div>
        <form asp-action="Update" asp-controller="Experience" method="post">

            <input type="hidden" />
            <div class="card-body">
                <div class="form-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input type="hidden" name="[@i].Id" value="@Model[i].Id" asp-for="@Model[i].Id" />
                        <label> <span style="font-weight:900; color: orangered"> @(i + 1)- Company Name </span></label>
                        <a href="~/Experience/Delete?id=@Model[i].Id" style="font-size: 0.8rem; " class="btn btn-danger btn-sm px-2 py-0 ms-2"> <i class="fas fa-trash-alt"></i> Delete this Experience </a>

                        <input asp-for="@Model[i].CompanyName" name="[@i].CompanyName" type="text" value="@Model[i].CompanyName" class="form-control">
                        @* <div class="form-group">
                            <label><span style="font-weight:bold;color:dodgerblue">Start Date</span></label>
                            <input asp-for="@Model[i].Institution" name="[@i].Institution" type="text" value="@Model[i].Institution" class="form-control">
                        </div> *@
                        <div class="form-group">
                            <label> <span style="font-weight:bold;color:dodgerblue">Start Date</span></label>
                            <input name="[@i].StartDate" type="datetime" value="@Model[i].StartDate.ToString("dd-MM-yyyy")" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> <span style="font-weight:bold;color:red">End Date</span></label>
                            <input name="[@i].EndDate" type="datetime" value="@Model[i].EndDate.ToString("dd-MM-yyyy")" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> <span style="font-weight:bold;color:greenyellow ">Title </span></label>
                            <input name="[@i].Title" value="@Model[i].Title" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Text </label>
                            <input name="[@i].Text" value="@Model[i].Text" type="text" class="form-control">
                        </div>

                    }


                </div>


                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
</div>