@using ProjectCV.DAL.DTOs.EducationUpdateDTO
@model List<EducationUpdateDTO>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CV Maker Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Skills Update</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="column">
            <a href="~/Education/Create" class="btn btn-success btn-sm"> <i class="fas fa-plus-circle"></i> Create New Education </a>
        </div>
        <form asp-action="Update" asp-controller="Education" method="post">

            <input type="hidden" />
            <div class="card-body">
                <div class="form-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input type="hidden" name="[@i].Id" value="@Model[i].Id" asp-for="@Model[i].Id" />
                        <label > School Name </label>
                        <a href="~/Education/Delete?id=@Model[i].Id" style="font-size: 0.8rem; " class="btn btn-danger btn-sm px-2 py-0 ms-2"> <i class="fas fa-trash-alt"></i> Delete Education </a>

                        <input asp-for="@Model[i].SchoolName" name="[@i].SchoolName" type="text" value="@Model[i].SchoolName" class="form-control">                
                <div class="form-group">
                    <label>Start Date  </label>
                    <input asp-for="@Model[i].StartDate" name="[@i].StartDate" type="datetime" value="@Model[i].StartDate.ToString("MM-dd-yyyy")" class="form-control">
                </div>
                <div class="form-group">
                    <label>End Date  </label>
                    <input asp-for="@Model[i].EndDate" name="[@i].EndDate" type="datetime" value="@Model[i].EndDate.ToString("MM-dd-yyyy")" class="form-control">
                </div>
                <div class="form-group">
                    <label>Degree </label>
                    <input asp-for="Degree" name="[@i].Degree" value="@Model[i].Degree" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Text </label>
                    <input asp-for="Text" name="[@i].Text" type="text" value="@Model[i].Text" class="form-control">
                </div>     
                    }
                               

            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>