@model List<Skill>
@{
    var countHalf = Model.Count()/2;
}

<section id="skills" class="skills section light-background">
    
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        @* <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> *@
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

            <div class="col-lg-6">
                @for (int i = 0; i < countHalf ; i ++ )
                {
                    <div class="progress">
                    <span class="skill"><span>@Model[i].Name</span> <i class="val">@Model[i].Rating%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model[i].Rating" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><!-- End Skills Item -->
                }                       

            </div>

            <div class="col-lg-6">
                @for (int i = countHalf; i < Model.Count  ; i ++ )
                {
                    <div class="progress">
                    <span class="skill"><span>@Model[i].Name</span> <i class="val">@Model[i].Rating%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model[i].Rating" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div><!-- End Skills Item -->
                }
                

            </div>

        </div>

    </div>

</section>