@using ProjectCV.DAL.DTOs.SkillUpdateDTO
@model List<SkillUpdateDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CV Maker Panel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Skills Update</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Update" asp-controller="Skill" method="post">

            @* Skill update *@
            <input type="hidden" />
            <div class="card-body">
                @for (int i = 0;  i < Model.Count; i++)
                {                    
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model[i].Id" />
                        <label>@(i + 1) - Skill </label>
                        <input asp-for="@Model[i].Name" value="@Model[i].Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>@(i + 1) - Rating  </label>
                        <input asp-for="@Model[i].Rating" value="@Model[i].Rating" class="form-control">
                    </div>
                }                        
                
            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>